include LICENSE.txt
include README.md

include _build_ffi.py
include _build_xtt.py

recursive-include test *
recursive-include requirements *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
